body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

i {
  font-size: 14rem;
}

h1 {
  font-size: 4rem;
}

a {
  text-decoration: none;
  color: white;
  background-color: hsla(321, 62%, 44%, 1);
  font-size: 1.4rem;
  padding: .6em;
  border-radius: .6em;
}
