:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--Violet);
  background-image: url("./images/bg-mobile.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 2.5rem;
  color: white;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

header img {
  width: 12rem;
}


.container {
  text-align: center;
}

img {
  width: 100%;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding-bottom: .6em;
}

p {
  padding-bottom: 1.25em;
}

.container a {
  display: block;
  color: var(--Violet);
  background-color: white;
  text-decoration: none;
  border-radius: 2em;
  font-size: .9rem;
  max-width: 100%;
  padding: 1em;
  margin-inline: 4.25em;
  font-weight: 400;
  box-shadow: 1rem black;
}

.container a:active {
  color: white;
  background-color: var(--Soft-Magenta);
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  margin-top: 2em;
}

.icons ion-icon {
  border: .1em solid white;
  border-radius: 22.5em;
  padding: .2em;
  margin: .5em;
}

.icons a {
  color: white;
}

.icons a:active {
  color: var(--Soft-Magenta);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--Soft-Magenta);
}